<h4 style="direction: rtl;">עדכון מאתר מעגלי השיח של שיתופים</h4>
<div style="direction: rtl;">
    <p>
        <%=part_one%>
        <a href="<%= settings.root_path %><%=link_two%>">"<%=part_two%>"</a></p>
        <%=part_three%>
</div>

<div style="direction: rtl;">
    <p>
        חשוב לדעת! ביכולתך לשלוט בעדכונים הנשלחים למייל. לניהול עדכונים מהמערכת
        <a href="<%= settings.root_path %>/mail_settings">לחץ כאן</a>
    </p>
</div>