<h4 style="direction: rtl;">עדכון מאתר מעגלי השיח של שיתופים</h4>
<div style="direction: rtl;">
    <p>
        מסמך חדש נפתח לעריכה במעגל השיח
        <a href="<%= settings.root_path %><%=link_two%>">"<%=part_two%>"</a>
        :
        <a href="<%= settings.root_path %><%=link_four%>"><%=part_four%></a>
    </p>
    <p><%=extra_text%></p>
    <p><%=text%></p>
</div>

<div style="direction: rtl;">
    <p>
        חשוב לדעת! ביכולתך לשלוט בעדכונים הנשלחים למייל. לניהול עדכונים מהמערכת
        <a href="<%= settings.root_path %>/mail_settings">לחץ כאן</a>
    </p>
</div>