<h4 style="direction: rtl;">
    עדכון מאתר מעגלי השיח של
    <%=host_title%>
</h4>
<div style="direction: rtl;">
    <p>
        שאלה חדשה נפתחה לדיון במעגל השיח
        <a href="<%= root_path %><%=link_two%>">"<%=part_two%>"</a>
        :
        <a href="<%= root_path %><%=main_link%>"><%=text%></a>
    </p>
</div>

<div style="direction: rtl;">
    <p>
        חשוב לדעת! ביכולתך לשלוט בעדכונים הנשלחים למייל. לניהול עדכונים מהמערכת
        <a href="<%= root_path %>/mail_settings">לחץ כאן</a>
    </p>
</div>