<!DOCTYPE html>
<html>
<head>
    <title>זירות שיח</title>
    <% include partials/head.ejs %>
</head>
<body>
    <!-- Header -->
    <header>
        <% include partials/menu.ejs %>
    </header>
    <!-- Content -->
    <section class="content">
        <div class="container">
            <!-- Breadcrumbs -->
            <div id="breadcrumbs"><a href="#">זירות שיח</a> > <a href="/discussions/subject/<%=subject._id%>"><%=subject.name%></a> > <a href="#">פורום</a></div>
            <div class="row">
                <!-- Sidebar -->
                <aside id="sidebar" class="left">
                    <!-- Basket -->
                    <div class="aside-info sidebox">
                        <div class="row">
                            <i class="icon icon-small-pad-left icon-basket right"></i>
                            <h2 class="aside-info-title right">סל מידע</h2>
                        </div>
                        <div class="spacer"></div>
                        <ul class="list">
                            <% for(var i = 0; i < information_items.length; i++) { %>
                                <li class="row info-item-container info-item-<%=information_items[i]._id%>">
                                     <div class="info-item right"><a href="#">
                                         <div class="info-item-title"><%=information_items[i].title%></div>
                                         <div class="info-item-text"><%=information_items[i].text_field_preview.replace(/(<([^>]+)>)/ig,"")%></div>
                                         </a>
                                     </div>
                                     <div class="info-item-img left"><img src="<%=information_items[i].image_field_preview.url%>" alt="תמונה 1" title="תמונה 1"/></div>
                                </li>
                            <% } %>
                        </ul>
                        <div class="aside-more-info">
                            <div class="spacer-plus"><a href="#"><i class="icon icon-plus"></i></a></div>
                            <div class="aside-show-more">הצג את כל הרשומות</div>
                        </div>
                    </div>
                    <!-- Useful Links -->
                    <div class="aside-links sidebox">
                        <div class="row">
                            <i class="icon icon-medium-pad-left icon-link right"></i>
                            <h2 class="aside-links-title right">לינקים שימושיים</h2>
                        </div>
                        <div class="spacer"></div>
                        <ul class="list">
                            <% for(var i = 0; i < links.length; i++) { %>
                                <li class="row link-container link-1">
                                    <a href="<%=links[i].link%>"><%=links[i].title%></a>
                                </li>
                            <% } %>
                        </ul>
                    </div>
                </aside>
                <!-- Post -->
                <div class="right post-container">
                    <!-- Post Header -->
                    <div class="row post-header">
                        <div class="right sidebox post-image">
                            <img src="<%=subject.image_field.url%>" style="width: 230px; height: 230px;" alt="תמונה" title="תמונה"/>
                        </div>
                        <div class="left post-headerbox">
                            <h1 class="post-title"><%=subject.name%></h1>
                            <div class="row">
                                <a href="/discussions/subject/<%=subject._id%>">
                                    <div class="right link-home">
                                        <div class="link-home-title"><i class="icon icon-small-pad-left icon-size2 icon-home right"></i>לעמוד זירה ראשי</div>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="left link-forum">פורום</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Post Body -->
                    <div class="post-body">
                        <div class="post-new-message">
                            <div class="post-new-message-head row">
                                <div class="post-new-message-title right">הוסף הודעה חדשה</div>
                                <div class="left"><i class="icon icon-box-top-left-tip"></i> </div>
                            </div>
                            <div class="new_post post-new-message-body row">
                                <div class="post-new-message-body-image"><img src="<%=avatar%>" class="circle" alt="<%=user.first_name%> + <%=user.last_name%>" title="תמונה"/></div>
                                <div class="post-new-message-body-text"><textarea placeholder="הכנס את הטקסט שלך..."></textarea></div>
                                <div class="post-new-message-body-actions">
                                    <div class="row">
                                        <button class="btn btn-medium btn-gray">הוסף קובץ</button>
                                    </div>
                                    <div class="row">
                                        <button class="btn btn-medium btn-green create_post">פרסם</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="spacer-large"></div>
                        <!-- Pagination -->
                        <div class="pagination-container row">
                            <div class="right pagination-title right">הודעות</div>
                            <div class="right pagination-stats right">עמוד <span class="pagination-current"><%=page%></span> מתוך <span class="pagination-total"><%=Math.ceil(count / 10)%></span></div>
                            <div class="right pagination-pages left">
                                <ul class="inline-list">
                                    <li class="arrow">
                                        <% if(next > Math.ceil(count / 10)) { %>
                                        <a href="?page=<%=next%>" class="disabled">
                                        <% } else { %>
                                        <a href="?page=<%=next%>">
                                        <% } %>
                                            <i class="icon icon-arrow-right"></i>
                                        </a>
                                    </li>
                                    <% for(var i = count, p = Math.ceil(count / 10); i > 0; i -= 10, p--) { %>
                                        <% if(page == p) { %>
                                        <li class="pagination-current-page">
                                        <% } else { %>
                                        <li>
                                        <% } %>
                                            <a href="?page=<%=p%>"><%=p%></a>
                                        </li>
                                    <% } %>
                                    <li class="arrow">
                                    <% if(prev < 1) { %>
                                    <a href="?page=<%=prev%>" class="disabled">
                                    <% } else { %>
                                    <a href="?page=<%=prev%>">
                                    <% } %>
                                        <i class="icon icon-arrow-left"></i>
                                    </a>
                                </ul>
                            </div>
                        </div>


                        <!-- Messages -->
                        <div class="post-messages-container">
                            <ul class="main_container">

                            </ul>
                        </div>
                        <!-- Pagination -->
                        <div class="pagination-container row">
                            <div class="right pagination-pages left">
                                <ul class="inline-list">
                                    <li class="arrow">
                                        <% if(next > Math.ceil(count / 10)) { %>
                                        <a href="?page=<%=next%>" class="disabled">
                                        <% } else { %>
                                        <a href="?page=<%=next%>">
                                        <% } %>
                                            <i class="icon icon-arrow-right"></i>
                                        </a>
                                    </li>
                                    <% for(var i = count, p = Math.ceil(count / 10); i > 0; i -= 10, p--) { %>
                                        <% if(page == p) { %>
                                        <li class="pagination-current-page">
                                        <% } else { %>
                                        <li>
                                        <% } %>
                                            <a href="?page=<%=p%>"><%=p%></a>
                                        </li>
                                    <% } %>
                                    <li class="arrow">
                                    <% if(prev < 1) { %>
                                    <a href="?page=<%=prev%>" class="disabled">
                                    <% } else { %>
                                    <a href="?page=<%=prev%>">
                                    <% } %>
                                        <i class="icon icon-arrow-left"></i>
                                    </a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer>
        <% include partials/footer.ejs %>
    </footer>
    <script type="text/javascript">

    </script>
</body>
</html>