<!DOCTYPE html>
<html>
<head>
    <title>מעגלי שיח</title>
    <% include partials/head.ejs %>
    <script src='/js/discussion.js'></script>
</head>
<body class="document-review logged">
<!-- Header -->
<header>
    <% include partials/menu.ejs %>
</header>
<!-- Content -->
<section class="content" style="background-image: url('<%=discussion.subject_id.cover_image_field && discussion.subject_id.cover_image_field.url%>'); background-size: 100% 230px; background-repeat: no-repeat; margin-bottom: 20px;">

<div class="container">
<!-- Breadcrumbs -->
<div id="breadcrumbs"><a href="/">מעגלי שיח</a> > <a href="/discussions/subject/<%=discussion.subject_id._id%>"><%=discussion.subject_id.name%></a> > <%=discussion.title%>
</div>
<div class="row">
<!-- Sidebar -->
<% if(user_logged){ %>
<% include partials/sidebar.ejs %>
<% } %>
<!-- Post -->
<div class="right content-container">
<!-- Post Header -->
<div class="row post-header">
    <div class="right sidebox post-image">
        <img src="<%=discussion.subject_id.image_field.url%>" style="width: 224px; height: 224px; position: static;" class="align-me" alt="<%=discussion.subject_id.name%>" title="<%=discussion.subject_id.name%>"/>
    </div>
    <div class="left post-headerbox">
        <h1 class="post-title"><%=discussion.subject_id.name%></h1>
        <div class="row">
            <a href="/discussions/subject/<%=discussion.subject_id._id%>">
                <div class="right link-home">
                    <div class="link-home-title"><i class="icon icon-small-pad-left icon-size2 icon-index-logged right"></i>לעמוד זירה ראשי</div>
                </div>
                <% if(user_logged) { %>
                <a href="/discussions/subject/<%=discussion.subject_id._id%>/forum">
                    <div class="left link-to-forum">לפורום</div>
                </a>
                <% } %>
            </a>
        </div>
    </div>
</div>
<!-- Post Body -->
<div class="post-body">
<div class="row document primary-document">
    <div class="document-text right">
        <div class="row document-text-header">
            <div class="document-name right"><%=discussion.title%></div>
            <div class="document-bar row">
                <div class="document-datetime right">תאריך:</div>
                <div class="document-datetime-value right"><%=new Date(discussion.creation_date).format('dd.mm.yyyy')%></div>
                <div class="document-pipeline right">|</div>
                <div class="document-participants right">משתתפים:</div>
                <div class="document-participants-value right"><%=discussion.participants_count%></div>
                <div class="document-pipeline right">|</div>
               <!-- <div class="document-produced right">נוצר ע"י: </div>
                <div class="document-produced-value right"><%=discussion.creator_id.first_name%> <%=discussion.creator_id.last_name%></div>-->
            </div>
        </div>
    </div>
    <!--<div class="document-work-time left">
        <i class="icon icon-box-top-left-tip"></i>
        <div class="row">
            <div class=document-work-time-title>??? ?????</div>
        </div>
        <div class="row">
            <div class="document-work-time-days left">
                <div class="document-work-time-value document-work-time-days">99</div>
                <div class="document-work-time-tag">????</div>
            </div>
            <div class="semicolon-spacer left">:</div>
            <div class="document-work-time-hours left">
                <div class="document-work-time-value document-work-time-hours">23</div>
                <div class="document-work-time-tag">????</div>
            </div>
            <div class="semicolon-spacer left">:</div>
            <div class="document-work-time-minutes left">
                <div class="document-work-time-value document-work-time-minutes">59</div>
                <div class="document-work-time-tag">????</div>
            </div>
            <div class="semicolon-spacer left">:</div>
            <div class="document-work-time-seconds left">
                <div class="document-work-time-value document-work-time-seconds">59</div>
                <div class="document-work-time-tag">?????</div>
            </div>
        </div>
    </div>-->
    <div class="document-work-time left">
        <i class="icon icon-box-top-left-tip"></i>
        <div class="row">
            <div class="document-work-time-title">זמן עבודה</div>
        </div>
        <div class="row deadline-counter" data-time="<%=discussion.deadline%>">
            <div class="document-work-time-days left">
                <div class="document-work-time-value document-work-time-days days"></div>
                <div class="document-work-time-tag">ימים</div>
            </div>
            <div class="semicolon-spacer left">:</div>
            <div class="document-work-time-hours left">
                <div class="document-work-time-value document-work-time-hours hours"></div>
                <div class="document-work-time-tag">שעות</div>
            </div>
            <div class="semicolon-spacer left">:</div>
            <div class="document-work-time-minutes left">
                <div class="document-work-time-value document-work-time-minutes minutes"></div>
                <div class="document-work-time-tag">דקות</div>
            </div>
            <div class="semicolon-spacer left">:</div>
            <div class="document-work-time-seconds left">
                <div class="document-work-time-value document-work-time-seconds seconds"></div>
                <div class="document-work-time-tag">שניות</div>
            </div>
        </div>
    </div>
</div>
<div class="spacer-large"></div>
<!-- Paper -->
<div class="paper-edit">
    <div class="paper-edit-text">בחר בעזרת הסמן קטעי טקסט שברצונך לשנות. לחץ על קטעים מסומנים כדי לראות הצעות שהעלו אחרים.</div>
    <div class="paper-edit-title"><i class="icon icon-small-pad-left icon-edit"></i>מצב עריכה</div>
</div>
<div class="paper paper-closed" id="discussion_edit_container">
    <div class="paper-marks">
        <div id="old_suggestion_popup" style="display:none;" class="popup-window link-to-doc-bubble paper-mark-1 hide">לחץ לצפייה בהצעה לשינוי<i class="icon icon-bubble-bottom-tip"></i></div>
        <div class="paper-actions-bubble paper-mark-2 hide popup-window" style="display: none;" id="new_suggestion_popup">
            מה ברצונך לעשות עם טקסט זה ?
            <div class="btn-group">
                <button class="btn btn-medium btn-blue btn-change pop_suggest_bt"><i class="icon icon-small-pad-left icon-arrows"></i>לשנות</button>
                <button class="btn btn-medium btn-green btn-add pop_suggest_bt add"><i class="icon icon-small-pad-left icon-paper-plus"></i>להוסיף</button>
                <button class="btn btn-medium btn-red btn-delete pop_suggest_bt delete"><i class="icon icon-small-pad-left icon-trash"></i>למחוק</button>
            </div>
            <i class="icon icon-bubble-bottom-tip"></i>
        </div>
    </div>
    <pre id="discussion_content"><%=discussion.text_field%></pre>
    <textarea id="discussion_content_textarea" style="display:none;"><%=discussion.text_field%></textarea>
    <button class="btn btn-large btn-green btn-read-more" onclick="togglePaper();">להמשך קריאה ועריכה</button>
    <i class="icon icon-close hand hide" onclick="togglePaper();"></i>
</div>
<div class="spacer-large"></div>



<!-- Tabs Container -->
<div class="document-review-tabs-container">
<!-- Tabs -->
<div class="document-review-tabs">
    <ul class="row list inline-list">
        <!-- Tab-1 -->
        <li class="tab right tab-selected">
            <a href="#tab-1" id="suggestionTab">
                <div class="row">
                    <div class="tab-title right">הצעות לשינוי</div>
                    <div class="tab-badge left circle"><span id="suggestion_number"></span></div>
                </div>
            </a>
        </li>
        <!-- Tab-2 -->
        <li class="tab right">
            <a href="#tab-2">
                <div class="row">
                    <div class="tab-title right">הצעות שהתקבלו</div>
                    <div class="tab-badge left circle"><span id="approved_suggestion_number"></span></div>
                </div>
            </a>
        </li>
        <!-- Tab-3 -->
        <li class="tab right">
            <a href="#tab-3">
                <div class="row">
                    <div class="tab-title right">תגובות</div>
                    <div class="tab-badge left circle"><span id="comments_number"></span></div>
                </div>
            </a>
        </li>
    </ul>
</div>
<!-- Tab Content -->
<div id="tab-1" class="post-messages-container tab-content tabs active">
<ul class="reviews" id="suggestions_wrapper">
</ul>
</div>
<div id="tab-2" class="post-messages-container tab-content tabs">
<ul class="reviews" id="approved_suggestions_wrapper">
</ul>
</div>

<div id="tab-3" class="tab-content tabs">
    <div class="post-new-message">
        <div class="post-new-message-head row">
            <div class="post-new-message-title right">הוסף הודעה חדשה</div>
        </div>
        <div class="new_post post-new-message-body row">
            <div class="post-new-message-body-image">
                <div class="circle circle-wrapper auto-scale">
                    <img src="<%=avatar%>"  alt="<%=user.first_name%> + <%=user.last_name%>" title="תמונה"/>
                </div>
            </div>
            <div class="post-new-message-body-text"><textarea placeholder="הכנס את הטקסט שלך..."></textarea>
                <div class="post-new-message-attachment" style="display: none;"><label class="post-new-message-attachment-path"></label>
                    &nbsp;<a class="post-new-message-attachment-path">
                        הסר
                    </a></div>

            </div>
            <div class="post-new-message-body-actions">
                <div class="row">
                    <button class="btn btn-medium btn-gray post-new-message-upload-button">
                        הוסף קובץ
                    </button>
                    <input type="file" class="post-new-message-upload" style="display:none;" />
                </div>
                <div class="row">
                    <button class="btn btn-medium btn-green create_post">פרסם</button>
                </div>
            </div>
        </div>
    </div>
    <div class="spacer-large spacer-blue"></div>
    <!-- Messages -->
    <div class="post-messages-container discussion">
        <ul class="main_container">

        </ul>
    </div>

</div>

</div>
</div>
</div>
</div>
</div>
</section>

<!-- Footer -->
<% include partials/footer.ejs %>

<script type="text/javascript">
var avatar = "<%=avatar%>";
$(document).ready(function () {
    var is_logged = <%= user_logged %>;
    var discussion = <%- JSON.stringify(discussion || "") %>;


    var page_posts, post_groups, count;

    if(is_logged){
        get_and_render.info_items(discussion.subject_id._id);
        get_and_render.links(discussion.subject_id._id);
    }

    $('body').on('click', '.document-review-tabs li.tab', function(e){
        e.preventDefault();
        var $tab = $(e.target).closest('li').length > 0 ? $(e.target).closest('li') : $(e.target);
        var tab_id = $tab.find('a').attr('href');
        $('.document-review-tabs li.tab.tab-selected').removeClass('tab-selected');
        $tab.addClass('tab-selected');
        $('.tab-content.active').removeClass('active');
        $(tab_id).addClass('active');
    });

    //deadline-counter
    $('.deadline-counter').countdown();

    //render a main post and responses if the post has any recursively
    var render_post = function(type, data, level){
        dust.render('forum_post', data, function(err, out){
            if(!err)
                if(type == 'main')
                    $('.post-messages-container ul.main_container').append(out);
                else
                    $('ul.replies-' + data.parent_id).prepend(out);
            //check if the post has any responses
            if(post_groups[data._id] && post_groups[data._id].length > 0) {
                var child_posts = post_groups[data._id];
                $.each(child_posts, function(i, child_post){

                    var new_level = level + 1;
                    child_post.time = new Date(child_post.creation_date).format('dd.mm.yyyy');
                    child_post.date = new Date(child_post.creation_date).format('HH:MM');
                    child_post.level = level + 1;
                    child_post.reply_level = level + 2;
                    if(child_post.text.length > 140)
                        child_post.text_short = child_post.text.substring(0, 140) + '...';
                    child_post.last = level == 2 ? true : false;
                    child_post.replies = post_groups[child_post._id] && post_groups[child_post._id].length > 0 ? post_groups[child_post._id].length : 0;
                    render_post('child', child_post, new_level);
                });
            }
        });
    };
    var init = function() {
        var data = {
            discussion_id: discussion._id,
            limit: 0,
            sorts: {'creation_date': -1},
            offset: 0
        };
        db_functions.getDiscussionPosts(data, function(err, data){
            page_posts = data.page_posts;
            post_groups = data.post_groups;
            count = data.count;
            $('#comments_number').html(count);

            $.each(page_posts, function(i, post){
                post.time = new Date(post.creation_date).format('dd.mm.yyyy');
                post.date = new Date(post.creation_date).format('HH:MM');
                post.level = 0;
                post.reply_level = 1;
                if(post.text.length > 140)
                    post.text_short = post.text.substring(0, 140) + '...';
                post.hidden = true;
                post.replies = post_groups[post._id] && post_groups[post._id].length > 0 ? post_groups[post._id].length : 0;
                render_post('main', post, 0);
            });
        });

    };

    init();

    //create new post and render it on post button click
    $('.create_post').on('click', function(){
        var text = $('.new_post .post-new-message-body-text textarea').val();
        if(!text) {
            //show error message?
        } else if(is_logged) {
            var data = {
                text: text,
                creator_id: user._id,
                discussion_id: discussion._id
            };
            db_functions.createDiscussionPost(data, function(data){
                data.time = new Date(data.creation_date).format('dd.mm.yyyy');
                data.date = new Date(data.creation_date).format('HH:MM');
                data.level = 0;
                data.reply_level = 1;
                if(data.text.length > 140)
                    data.text_short = data.text.substring(0, 140) + '...';
                data.replies = 0;
                var file = $('#tab-3 .post-new-message-upload')[0].files[0];
                if(!file)
                    return afterPost();

                popupProvider.showLoading({message:'מעלה קובץ...'});

                uploadAttachment(data._id,file,afterPost);

                function afterPost(error,attachment){
                    if(error)
                        return console.error(error);
                    if(attachment){
                        data.attachment = attachment;
                        $.colorbox.close();
                    }
                    dust.render('forum_post', data, function(err, out){
                        if(!err)
                            $('.post-messages-container ul.main_container').prepend(out);
                        $('.new_post .post-new-message-body-text textarea').val("");
                    });
                    $('.new_post .post-new-message-upload').val('');
                    $('.new_post .post-new-message-attachment').hide();
                    $('#comments_number').html(Number($('#comments_number').html()) + 1);
                }
            });
        }
    });

    $('.container').on('change','#tab-3 .post-new-message-upload',function(e){
        var file = this.files[0];
        if(file){
            var $parent = $(this).parents('.post-new-message-body');
            $parent.find('.post-new-message-attachment label').text(file.name);
            $parent.find('.post-new-message-attachment').show();
        }
    });
    $('.container').on('click','.post-new-message-attachment a',function(){
        var $parent = $(this).parents('.post-new-message-body');
        $parent.find('.post-new-message-upload').val('');
        $parent.find('.post-new-message-attachment').hide();
    });
    $('.container').on('click','.post-new-message-upload-button',function(){
        $(this).siblings('.post-new-message-upload').click();
    });



    //create and render post response
    $('.main_container').on('click', '.create_secondary_post', function(e){
        var $parent_post = $(e.target).closest('li');
        var $original_parent = $parent_post;
        var parent_level = $parent_post.data('level');
        var orig_parent_id = '';

        // check if this is a message on level 4, so that the comment will actually be added to its parent
        if(parent_level == 3) {
            orig_parent_id = $parent_post.data('id');
            $parent_post = $(e.target).closest('li').closest('ul').closest('li');
            parent_level = $parent_post.data('level');
        }
        var parent_id = $parent_post.data('id');

        var text = $('.reply-to-message-' + (orig_parent_id != "" ? orig_parent_id : parent_id) + ' .post-new-message-body-text textarea').val();
        if(!text) {
            //show error message?
        } else if(is_logged) {
            var data = {
                parent_id: parent_id,
                text: text,
                creator_id: user._id,
                discussion_id: discussion._id
            };
            db_functions.createDiscussionPost(data, function(data){

                data.time = new Date(data.creation_date).format('dd.mm.yyyy');
                data.date = new Date(data.creation_date).format('HH:MM');
                data.level = parent_level + 1;
                data.reply_level = parent_level + 2;
                if(data.text.length > 140)
                    data.text_short = data.text.substring(0, 140) + '...';
                data.last = parent_level == 2 ? true : false;
                data.replies = 0;
                var file = $original_parent.find('.post-new-message-upload')[0].files[0];
                if(!file)
                    return afterPost();

                popupProvider.showLoading({message:'מעלה קובץ...'});

                uploadAttachment(data._id,file,afterPost);

                function afterPost(err,attachment){
                    if(err)
                        return console.error(err);
                    if(attachment){
                        data.attachment = attachment;
                        $original_parent.find('.post-new-message-upload').val('');
                        $original_parent.find('.post-new-message-attachment').hide();
                        $.colorbox.close();
                    }
                    dust.render('forum_post', data, function(err, out){
                        if(!err){
                            $('ul.replies-' + parent_id).append(out);
                            $('.reply-to-message-' + (orig_parent_id != "" ? orig_parent_id : parent_id) + ' .post-new-message-body-text textarea').val("");
                            $('.reply-to-message-' + (orig_parent_id != "" ? orig_parent_id : parent_id) + ' .icon-close').click();

                            var $primary_message = $('ul.replies-' + parent_id).siblings('.primary-message');
                            if($primary_message.hasClass('message-closed')) {
                                $primary_message.find('.icon-expand').click();
                            }
                            var $replies = $('.message-' + parent_id + ' .message-text .message-replies').first();
                            var reply_count = $replies.data('replies') + 1;
                            $replies.html(reply_count + ' תגובות');
                            $replies.data('replies', reply_count);
                        }
                    });
                }
            });
        }
    });

    $('.main_container').on('click', '.show_all_text', function(e){
        var text = $(e.target).closest('.message-content').data('text');
        $(e.target).closest('.message-content').html(text);
    });

    function uploadAttachment( id, file,cbk){
        var client = new XMLHttpRequest();

        /* Create a FormData instance */
        var formData = new FormData();
        /* Add the file */
        formData.append("upload", file);
        client.open("put", "/api/post_discussion_attachments/" + id + "?discussion_id=" + discussion._id, true);
        //client.setRequestHeader("Content-Type", "multipart/form-data");
        client.send(formData);  /* Send to server */

        /* Check the response status */
        client.onreadystatechange = function()
        {
            if (client.readyState == 4){
                if(client.status < 200 || client.status >= 300)
                    return cbk(client.status);
                var attachment = JSON.parse(client.responseText);
                cbk(null,attachment);
            }
        }
    }
    initDiscussionEditing(discussion,'#discussion_content,#discussion_content_textarea');

    $('#tab-1').on('click', '.review-options-dislike', function(e){
        var suggestion_id = $(e.target).closest('li.suggestion-item').data('id'),
            vote = -1;
            vote_on_suggestion(suggestion_id, vote);

    });
    $('#tab-1').on('click', '.review-options-like', function(e){
        var suggestion_id = $(e.target).closest('li.suggestion-item').data('id'),
            vote = 1;
        vote_on_suggestion(suggestion_id, vote);
    });

    function vote_on_suggestion(suggestion_id, vote) {
        db_functions.voteSuggestion(suggestion_id, vote, function(err, data){
            if(err) return;
            else if(data) {
                var $suggestion = $('li.suggestion-item[data-id=' + data.suggestion_id + ']');
                $suggestion.find('.review-options-pro-value').html(data.agrees);
                $suggestion.find('.review-options-against-value').html(data.not_agrees);

                $suggestion.find('.review-options-vote').removeClass('selected');
                if (data.balance == 1){
                    $suggestion.find('.review-options-like').addClass('selected');
                }else{
                    $suggestion.find('.review-options-dislike').addClass('selected');
                }
            }
        })
    }
});
</script>
</body>
</html>