<!DOCTYPE html>
<html lang="he-IL">
<head>
    <title>מעגלי שיח</title>
    <% include partials/head.ejs %>
</head>
<body class="forum logged <% if(subject && subject.is_no_sheatufim) { %>no_sheatufim<% } %>">
    <!-- Header -->
    <header>
        <% include partials/menu.ejs %>
    </header>
    <!-- Content -->
    <section class="content" style="background-image: url('<%=subject.cover_image_field && subject.cover_image_field.url%>'); background-size: 100% 230px; background-repeat: no-repeat; margin-bottom: 20px;">

        <div class="container">
            <!-- Breadcrumbs -->
            <div id="breadcrumbs"><a href="/">מעגלי שיח</a> > <a href="discussions/subject/<%=subject._id%>"><%=subject.name%></a> > פורום</div>
            <div id="nav_content" class="row">
                <!-- Post -->
                <div class="right content-container">
                    <!-- Post Header -->
                    <div class="row post-header">
                        <div class="right sidebox post-image">
                            <img src="<%=subject.image_field.url%>" style="width: 224px; height: 224px;" alt="תמונת מעגל השיח" title="<%=subject.name%>"/>
                        </div>
                        <div class="left post-headerbox">
                            <h1 class="post-title"><%=subject.name%></h1>
                            <div class="row">
                                <a href="/discussions/subject/<%=subject._id%>">
                                    <div class="right link-home">
                                        <div class="link-home-title"><i class="icon icon-small-pad-left icon-size2 icon-home right"></i>לעמוד מעגל שיח ראשי</div>
                                    </div>
                                </a>
                                <div class="left link-forum">פורום</div>
                            </div>
                        </div>
                    </div>
                    <!-- Post Body -->
                    <div class="post-body">
                        <div class="post-new-message forum">
                            <div class="post-new-message-head row">
                                <div class="post-new-message-title right">הוסף הודעה חדשה</div>
                                <div class="left"><i class="icon icon-box-top-left-tip"></i> </div>
                            </div>
                            <div class="new_post post-new-message-body row">
                                <div class="post-new-message-body-image"><img src="<%=avatar%>" class="circle" alt="<%=user.first_name%> + <%=user.last_name%>" title="תמונה"/></div>
                                <div class="post-new-message-body-text">
                                    <label for="new_post" style="display: none;">הכנס את הטקסט שלך...</label>
                                    <textarea name="new_post" placeholder="הכנס את הטקסט שלך..."></textarea>
                                    <div class="post-new-message-attachment" style="display: none;"><label class="post-new-message-attachment-path"></label>
                                        &nbsp;<a class="post-new-message-attachment-path">
                                            הסר
                                        </a></div>

                                </div>
                                <div class="post-new-message-body-actions">
                                    <div class="row">
										<form method="POST" enctype="multipart/form-data" target="hiddenFrame">
											<input type="file" id="image" class="hiddenUpload post-new-message-upload" name="image" style="opacity:0; position:absolute; width:80px ;height:51px; border:none; padding:0;" />
											<button class="btn btn-medium btn-gray post-new-message-upload-button" onclick="return false;">
														הוסף קובץ
													</button>
											<input type="hidden" name="callback" value="" />
										</form>
                                    </div>
                                    <div class="row">
                                        <button class="btn btn-medium btn-green create_post">פרסם</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="spacer-large"></div>
                        <!-- Pagination -->
                        <div class="pagination-container row">
                            <div class="right pagination-title right">הודעות</div>
                            <div class="right pagination-stats right">עמוד <span class="pagination-current"><%=page%></span> מתוך <span class="pagination-total"><%=Math.ceil(count / 10)%></span></div>
                            <div class="right pagination-pages left">
                                <% include partials/pagination.ejs %>
                            </div>
                        </div>

                        <!-- Messages -->
                        <div class="post-messages-container forum">
                            <ul class="main_container">

                            </ul>
                        </div>
                        <!-- Pagination -->
                        <div class="pagination-container row">
                            <div class="right pagination-pages left">
                                <% include partials/pagination.ejs %>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Sidebar -->
                <% include partials/sidebar.ejs %>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <% include partials/footer.ejs %>

    <script type="text/javascript">
        var current_section=1;
        $(document).ready(function () {
            var subject = '<%= subject._id %>';
            var subject_name = '<%= subject.name %>';
            var is_logged = <%= user_logged %>;
            var user = <%- JSON.stringify(user || '') %>;
            var posts = <%- JSON.stringify(posts) %>;
            var post_groups = <%- JSON.stringify(post_groups) %>;
            var avatar = '<%=avatar%>';

            if(is_logged){
                get_and_render.info_items(subject);
                get_and_render.links(subject);
            }

            var go_to_hash = function(){
                //check if there is a hash, and if so find it and open it
                if(window.location.hash){
                    var message_id = window.location.hash.substr(1),
                        message = $('li.message-' + message_id);

                    if(message){
                        if(message.data('level') == 0){
                            scrollTo($('#' + message_id), 1000);
                        } else {
                            var main_msg = message.closest('li[data-level=0]');
                            toggleMessage('message-' + main_msg.data('id'));
                            scrollTo($('#' + message_id), 1000);
                        }
                    }

                }
            }

            //render a main post and responses if the post has any recursively
            var render_post = function(type, data, level, callback) {
                count++;
                data.user_avatar = avatar;
                dust.render('forum_post', data, function(err, out){
                if(!err)
                    if(type == 'main')
                        $('.post-messages-container ul.main_container').append(out);
                    else
                        $('ul.replies-' + data.parent_id).prepend(out);

                    //check if the post has any responses
                    if(post_groups[data._id] && post_groups[data._id].length > 0) {
                        var child_posts = post_groups[data._id];
                         $.each(child_posts, function(i, child_post){
                               var new_level = level + 1;
                               child_post.time = new Date(child_post.creation_date).format('dd.mm.yyyy');
                               child_post.date = new Date(child_post.creation_date).format('HH:MM');
                               child_post.level = level + 1;
                               child_post.reply_level = level + 2;
                               if(child_post.text.length > 140)
                                   child_post.text_short = child_post.text.substring(0, 140) + '...';
                               child_post.last = level == 2 ? true : false;
                               child_post.replies = post_groups[child_post._id] && post_groups[child_post._id].length > 0 ? post_groups[child_post._id].length : 0;
                               render_post('child', child_post, new_level);
                         });

                    }
                    count--;
                    if (count == 0 && callback)
                        callback();
                });


            };
            var count = 0;

            var init = function() {
                var post_count = posts.length;
                $.each(posts, function(i, post) {
                     post.time = new Date(post.creation_date).format('dd.mm.yyyy');
                     post.date = new Date(post.creation_date).format('HH:MM');
                     post.level = 0;
                     post.reply_level = 1;
                     if(post.text.length > 140)
                         post.text_short = post.text.substring(0, 140) + '...';

                     post.hidden = true;
                     post.replies = post_groups[post._id] && post_groups[post._id].length > 0 ? post_groups[post._id].length : 0;
                     render_post('main', post, 0, function(){
                         post_count--;
                         if(post_count == 0) {
                             go_to_hash();
                         }
                     });
                });
            };

            init();

            //create new post and render it on post button click
            $('.create_post').on('click', function(){
                var text = $('.new_post .post-new-message-body-text textarea').val();
                var $file = $('.new_post .post-new-message-upload')[0];
                if(!text && !$file.value) {
                    popupProvider.showOkPopup({message: "נא הזן טקסט או הוסף קובץ"});
                } else if(is_logged) {
                    var data = {
                        text: text,
                        creator_id: user._id,
                        subject_id: subject
                    };
                    db_functions.createForumPost(data, function(data){
                         data.time = new Date(data.creation_date).format('dd.mm.yyyy');
                         data.date = new Date(data.creation_date).format('HH:MM');
                         data.level = 0;
                         data.reply_level = 1;
                         if(data.text.length > 140)
                              data.text_short = data.text.substring(0, 140) + '...';
                         data.replies = 0;
                        var $file = $('.new_post .post-new-message-upload')[0];
                        if(!$file.value)
                            return afterPost();
                        var file = $file.files && $file.files[0];

                        popupProvider.showLoading({message:'מעלה קובץ...'});

                        if(file)
                            uploadAttachment(data._id,file,afterPost);
                        else
                            uploadAttachmentIE9( "/api/forum_post_attachments/" + data._id,$file,afterPost);

                        function afterPost(error,attachment){
                            if(error)
                                return console.error(error);
                            if(attachment){
                                data.attachment = attachment;
                                $.colorbox.close();
                            }
                            data.user_avatar = avatar;
                            dust.render('forum_post', data, function(err, out){
                                if(!err)
                                     $('.post-messages-container ul.main_container').prepend(out);
                                     $('.new_post .post-new-message-body-text textarea').val("");
                             });
                            $('.new_post .post-new-message-upload').val('');
                            $('.new_post .post-new-message-attachment').hide();
                        }
                    });
                }
            });

            $('.container').on('change','.post-new-message-upload',function(e){
                var file = this.files && this.files[0];
                if(file){
                    var $parent = $(this).parents('.post-new-message-body');
                    $parent.find('.post-new-message-attachment label').text(file.name);
                    $parent.find('.post-new-message-attachment').show();
                }
            });
            $('.container').on('click','.post-new-message-attachment a',function(){
                var $parent = $(this).parents('.post-new-message-body');
                $parent.find('.post-new-message-upload').val('');
                $parent.find('.post-new-message-attachment').hide();
            });
            $('.container').on('click','.post-new-message-upload-button',function(){
				if(!SUPPORT_FILE_API)
					return;
                $(this).siblings('.post-new-message-upload').click();
            });



            //create and render post response
            $('.main_container').on('click', '.create_secondary_post', function(e){
                var $parent_post = $(e.target).closest('li');
                var $original_parent = $parent_post;
                var parent_level = $parent_post.data('level');
                var orig_parent_id = '';

                // check if this is a message on level 4, so that the comment will actually be added to its parent
                if(parent_level == 3) {
                    orig_parent_id = $parent_post.data('id');
                    $parent_post = $(e.target).closest('li').closest('ul').closest('li');
                    parent_level = $parent_post.data('level');
                }
                var parent_id = $parent_post.data('id');

                var text = $('.reply-to-message-' + (orig_parent_id != "" ? orig_parent_id : parent_id) + ' .post-new-message-body-text textarea').val();
                var $file = $('.reply-to-message-' + parent_id + ' .post-new-message-upload')[0];
                if(!text && !$file.value) {
                    popupProvider.showOkPopup({message: "נא הזן טקסט או הוסף קובץ"});
                } else if(is_logged) {
                    var str = window.location.search;
                    var objURL = {};

                    str.replace(
                        new RegExp( "([^?=&]+)(=([^&]*))?", "g" ),
                        function( $0, $1, $2, $3 ){
                            objURL[ $1 ] = $3;
                        }
                    );
                    var data = {
                        parent_id: parent_id,
                        text: text,
                        creator_id: user._id,
                        subject_id: subject,
                        page: objURL.page
                    };
                    db_functions.createForumPost(data, function(data){

                         data.time = new Date(data.creation_date).format('dd.mm.yyyy');
                         data.date = new Date(data.creation_date).format('HH:MM');
                         data.level = parent_level + 1;
                         data.reply_level = parent_level + 2;
                         if(data.text.length > 140)
                              data.text_short = data.text.substring(0, 140) + '...';
                         data.last = parent_level == 2 ? true : false;
                         data.replies = 0;


                        var $file = $original_parent.find('.post-new-message-upload')[0];
                        if(!$file.value)
                            return afterPost();
                        var file = $file.files && $file.files[0];

                        popupProvider.showLoading({message:'מעלה קובץ...'});

                        if(file)
                            uploadAttachment(data._id,file,afterPost);
                        else
                            uploadAttachmentIE9( "/api/forum_post_attachments/" + data._id,$file,afterPost);


                        function afterPost(err,attachment){
                            if(err)
                                return console.error(err);
                            if(attachment){
                                data.attachment = attachment;
                                $original_parent.find('.post-new-message-upload').val('');
                                $original_parent.find('.post-new-message-attachment').hide();
                                $.colorbox.close();
                            }
                            data.user_avatar = avatar;
                             dust.render('forum_post', data, function(err, out){
                                if(!err){
                                    $('ul.replies-' + parent_id).append(out);
                                    $('.reply-to-message-' + (orig_parent_id != "" ? orig_parent_id : parent_id) + ' .post-new-message-body-text textarea').val("");
                                    $('.reply-to-message-' + (orig_parent_id != "" ? orig_parent_id : parent_id) + ' .icon-close').click();

                                    var $primary_message = $('ul.replies-' + parent_id).siblings('.primary-message');
                                    if($primary_message.hasClass('message-closed')) {
                                         $primary_message.find('.icon-expand').click();
                                    }
                                    var $replies = $('.message-' + parent_id + ' .message-text .message-replies').first();
                                    var reply_count = $replies.data('replies') + 1;
                                    $replies.html(reply_count + ' תגובות');
                                    $replies.data('replies', reply_count);
                                }
                             });
                        }
                    });
                }
            });

            $('.main_container').on('click', '.show_all_text', function(e){
                var text = $(e.target).closest('.message-content').data('text');
                $(e.target).closest('.message-content').html(text);
                var $next_focus = $(e.target).closest('.message-text').find('.toggle_replies');
                if(!$next_focus){
                    $next_focus = $(e.target).closest('.message-text').find('.message-likes');
                }
                $next_focus.focus();
            });

            $('body').on('click', '.message-reply', function(e){
                var id = $(e.target).closest('li').data('id');
                replyTo('message-' + id);
            });

            function uploadAttachment( id, file,cbk){
                var client = new XMLHttpRequest();

                /* Create a FormData instance */
                var formData = new FormData();
                /* Add the file */
                formData.append("upload", file);
                client.open("put", "/api/forum_post_attachments/" + id, true);
                //client.setRequestHeader("Content-Type", "multipart/form-data");
                client.send(formData);  /* Send to server */

                /* Check the response status */
                client.onreadystatechange = function()
                {
                    if (client.readyState == 4){
                        if(client.status < 200 || client.status >= 300)
                            return cbk(client.status);
                        var attachment = JSON.parse(client.responseText);
                        cbk(null,attachment);
                    }
                }
            };

            var likePost = function(e){
                var post_id = $(e.target).closest('.row-table').data('id');
                db_functions.likePost(post_id, user._id, function(err, data){
                    console.log('liked');
                    if(err) return;
                    var $likes = $($('.row-table[data-id=' + data.post_id + '] .like-counter')[0]);
                    var counter = parseInt($likes.html());
                    counter += 1;
                    $likes.html(counter);
                    var $img = $likes.next('img');
                    $img.removeClass('like').addClass('unlike');
                    $img.attr('src', '/images/unlike.png');
                });
            };

            var unlikePost = function(e){
                var post_id = $(e.target).closest('.row-table').data('id');
                db_functions.likePost(post_id, user._id, function(err, data){
                    console.log('unliked');
                    if(err) return;
                    var $likes = $($('.row-table[data-id=' + data.post_id + '] .like-counter')[0]);
                    var counter = parseInt($likes.html());
                    counter -= 1;
                    $likes.html(counter);
                    var $img = $likes.next('img');
                    $img.removeClass('unlike').addClass('like');
                    $img.attr('src', '/images/like.png');
                });
            };

            $('.main_container').on('click', '.message-likes', function(e){
                var $target = $(e.target).closest('.message-likes').find('img');
                if($target.hasClass('like'))
                    likePost(e);
                else
                    unlikePost(e);
            });

            $('body').on('click', '.toggle_replies', function(e){
                var id = $(e.target).closest('li').data('id');
                toggleMessage('message-' + id);
            });

            $('#subjectShoppingCartPopup').click(function(){
                dust.render('subject_shopping_cart',{
                    id:subject,
                    name:subject_name
                },function(err,out){
                    $.colorbox({
                        html:out,
                        width:'70%',
                        height:'70%',
                        onComplete:function(){
                            listCommon.reloadList('shoppingCartItemList','information_items','subject_shopping_cart_item',
                                    {subjects:subject });
                        }
                    });

                })
            });

        });

     </script>
</body>
</html>