<!DOCTYPE html>
<html>
<head>
    <title>מעגלי שיח</title>
    <% include partials/head.ejs %>
</head>
<body class="forum logged">
<!-- Header -->
<header>
    <% include partials/menu.ejs %>
</header>
<!-- Content -->
<section class="content" style="background: white;">
    <div class="container">
        <div class="row">
            <div class="post-body">
                <div class="row profile">
                    <h2 class="title right">פרופיל שלי</h2>
                </div>
                <div class="profile-box">
                    <div class="user">
                        <div class="user_image right">
                            <div id="upload-new-image"></div>
                            <!--<input type="file" id="upload-new-image" class="upload-new-image" style="display:none;">-->
                        </div>
                        <div class="user_name right">
                            <h2 class="name active"><%=user.first_name%> <%=user.last_name%></h2>
                            <input class="name_input" type="text" placeholder="ערוך שם..." value="<%=user.first_name%> <%=user.last_name%>"></h2>
                            <button class="edit_name btn btn-medium btn-green">ערוך</button>
                        </div>

                        <div class="occupation right">
                            <h2 class="user_occupation active right"><%=user.occupation%></h2>
                            <textarea class="occupation_input right" placeholder="הכנס כאן תיאור תפקיד..."><%=user.occupation%></textarea>
                            <button class=" right edit_occupation btn btn-medium btn-green">ערוך</button>
                        </div>
                    </div>
                </div>
                <div class="right" id="notifications">
                    <i class="icon icon-medium-pad-left icon-message right"></i>
                    <h2 class="zirot-messages-container-title right">עדכונים אחרונים</h2>
                    <div class="spacer-large"></div>

                    <ul class="notifications list">

                    </ul>

                </div>

            </div>
        </div>
    </div>
</section>
<!-- Footer -->
<% include partials/footer.ejs %>

<script type="text/javascript">

    $(document).ready(function () {
        var avatar = '<%= avatar %>';
        var user = <%- JSON.stringify(user || '') %>;
        db_functions.getNotifications(user._id, 0, function(data){
            if(data.objects){
                dust.renderArray("notification", data.objects, function(err, html){
                    if(err) return;
                    $('.notifications.list').append(html);
                });
            }
        });

        $('.edit_name').on('click', function(e){
            if($('.name_input').hasClass('active') && user.first_name + " " + user.last_name != $('.name_input').val()) {
                var full_name = $('.name_input').val(),
                        first_name = full_name.indexOf(' ') == -1 ? full_name : full_name.substr(0, full_name.indexOf(' ')),
                        last_name = full_name.indexOf(' ') == -1 ? "" : full_name.substr(full_name.indexOf(' '));
                db_functions.updateUserDetails(user._id, user.occupation, first_name, last_name, function(err, data){
                    if(!err) {
                        $('.name').html(data.first_name + " " + data.last_name);
                    }
                });
            }
            $('.name').toggleClass('active');
            $('.name_input').toggleClass('active');
            if($('.edit_name').html() == 'ערוך')
                $('.edit_name').html('שמור');
            else {
                $('.edit_name').html('ערוך');
            }

        });

        $('.edit_occupation').on('click', function(e){
            if($('.occupation_input').hasClass('active') && user.occupation != $('.occupation_input').val()) {
                var occupation = $('.occupation_input').val();
                db_functions.updateUserDetails(user._id, occupation, user.first_name, user.last_name, function(err, data){
                    if(!err) {
                        $('.user_occupation').html(data.occupation);
                    }
                });
            }
            $('.user_occupation').toggleClass('active');
            $('.occupation_input').toggleClass('active');
            if($('.edit_occupation').html() == 'ערוך') {
                $('.edit_occupation').html('שמור');
                $('.occupation_input').focus();
            } else {
                $('.edit_occupation').html('ערוך');
            }
        });

        var uploader = new qq.FileUploader({
                    element: document.getElementById('upload-new-image'),
                    action: '/api/avatar',
                    debug: false,
                    template: '<div class="qq-uploader">' +
                            '<div class="qq-upload-drop-area"><span>Drop files here to upload</span></div>' +

                            '<div class="qq-upload-button"><img src="' + avatar + '" class="circle"/></button>' +
                                '<ul class="qq-upload-list"></ul>' +
                               '</div>',
                    onComplete: function(id, fileName, responseJSON){
                        debugger;
                        $('.qq-upload-button img').attr('src', responseJSON.avatar.url);
                        $('#header-nav-logged-in img').attr('src', responseJSON.avatar.url);
                        //setImageUrl(responseJSON.image ? responseJSON.image.url : responseJSON.avatar.url);
                    }
                }
        );
    });
</script>
</body>
</html>