<!DOCTYPE html>
<html lang="he-IL">
<head>
    <title>מעגלי שיח</title>
    <% include partials/head.ejs %>

</head>

<% if( user_logged ) { %>
<body class="home logged <% if(subject && subject.is_no_sheatufim) { %>no_sheatufim<% } %>">
<% } else { %>
<body class="home not-logged <% if(subject && subject.is_no_sheatufim) { %>no_sheatufim<% } %>">
<% } %>
<!-- Header -->
<header>
    <% include partials/menu.ejs %>
</header>
<!-- Content -->
<section class="content content-logged"
         style="background-image: url('<%=subject.cover_image_field && subject.cover_image_field.url%>'); background-size: 100% 230px; background-repeat: no-repeat; margin-bottom: 20px;">
    <div class="container" >
        <!-- Breadcrumbs -->
        <div id="breadcrumbs"><a href="/">מעגלי שיח</a> > <%=subject.name%>
        </div>
        <div id="nav_content" class="row">
            <!-- Post -->
            <div class="right content-container">
                <!-- Post Header -->
                <div class="row post-header">
                    <div class="right sidebox post-image">
                        <img src="<%=subject.image_field.url%>" style="width: 224px; height: 224px; position: static;"
                             class="align-me" alt="תמונת מעגל השיח" title="<%=subject.name%>"/>
                    </div>
                    <div class="left post-headerbox">
                        <h1 class="post-title"><%=subject.name%></h1>

                        <div class="row">
                            <a class="home" href="/">
                                <div class="right link-home">
                                    <div class="link-home-title">
                                        <i
                                            class="icon icon-small-pad-left icon-size2 icon-index-logged right"></i>לדף
                                        הבית
                                    </div>
                                </div>
                            </a>
                            <% if(user_logged && subject.isAllowed) { %>
                            <button class="left link-to-forum" data-href="<%=url%>/forum">לפורום</button>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="row post-body">
                    <p><%-subject.description%></p>
                </div>
                <% if(user_logged && subject.isAllowed) { %>
                <% include partials/descussions_and_posts.ejs%>
                <% } %>
            </div>
            <!-- Sidebar -->
            <% if(user_logged && subject.isAllowed){ %>
            <% include partials/sidebar.ejs %>
            <% } %>
            <!-- Zira Activity -->
            <div class="activity-box">
                <div class="row">
                    <i class="icon icon-medium-pad-left icon-clock right"></i>

                    <h2 class="activity-box-title right">פעילות במעגל השיח</h2>
                </div>
                <% if(subject.timeline_url) { %>
                    <div class="row sidebox activity-module">
                        <iframe src='/timeline_embed?source=<%= encodeURIComponent(subject.timeline_url) %>' width='100%' height='500' frameborder='0'></iframe>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</section>
<!-- Footer -->

<% include partials/footer.ejs %>

<script type="text/javascript">
    $(document).ready(function () {
        var subject_id = '<%= subject._id %>';
        var is_allowed = '<%= subject.isAllowed %>';
        var is_logged = <%= user_logged %>;
        var user = <%- JSON.stringify(user || "") %>;
        var avatar = '<%=avatar%>';
        var posts, post_groups;

        var $body = $('body'),
            $last_messages = $('.last-messages'),
            $latest_posts = $('.latest_posts'),
            $questions_list = $('#questions_list'),
            $login_btn = $('.login_form_btn'),
            $container = $('.container');

        if(is_logged && is_allowed){
            get_and_render.info_items(subject_id);
            get_and_render.links(subject_id);
        }

        var data = {
            subject_id: subject_id,
            limit: 3,
            sorts: {'creation_date': -1},
            offset: 0
        };

        $('button.link-to-forum').on('click', function(e){
            window.location.href = $(e.target).data('href');
        });

        db_functions.getQuestions({subject_id: subject_id}, function(err, data){
            $.each(data.objects, function(i, obj){
                obj.avatar = avatar;
                obj.date = new Date(obj.creation_date).format('dd.mm.yyyy');
                obj.time = new Date(obj.creation_date).format('HH:MM');
                obj.post_count = obj.posts.length;
                obj.deadline = new Date(obj.deadline) < new Date() ? null : obj.deadline;
                $.each(obj.posts, function(j, post){
                    post.date = new Date(post.creation_date).format('dd.mm.yyyy');
                    post.time = new Date(post.creation_date).format('HH:MM');
                });
            });
            dust.renderArray('question_list_item', data.objects, function(err, html){
                $('#questions_list').append(html);
                $('.deadline-counter').each(function(){
                    $(this).countdown();
                });
            });
        });

        var render_post = function(type, data, level){
            data.user_avatar = avatar;
            dust.render('forum_post', data, function(err, out){
                if(!err) {
                    if(type == 'main') {
                        $('.latest_posts ul.posts').append(out);
                    } else {
                        $('ul.replies-' + data.parent_id).prepend(out);
                    }

                }

                //check if the post has any responses
                if(post_groups[data._id] && post_groups[data._id].length > 0) {
                    var child_posts = post_groups[data._id];
                    $.each(child_posts, function(i, child_post){
                        var new_level = level + 1;
                        child_post.time = new Date(child_post.creation_date).format('dd.mm.yyyy');
                        child_post.date = new Date(child_post.creation_date).format('HH:MM');
                        child_post.level = level + 1;
                        child_post.reply_level = level + 2;
                        if(child_post.text.length > 140)
                            child_post.text_short = child_post.text.substring(0, 140) + '...';
                        child_post.last = level == 2 ? true : false;
                        child_post.replies = post_groups[child_post._id] && post_groups[child_post._id].length > 0 ? post_groups[child_post._id].length : 0;
                        render_post('child', child_post, new_level);
                    });
                }
            });
        };
        db_functions.getLastForumPosts(data, function (err, data) {
            if (err) return;
                posts = data.page_posts;
                post_groups = data.post_groups;
            $.each(posts, function(i, post){
                post.time = new Date(post.creation_date).format('dd.mm.yyyy');
                post.date = new Date(post.creation_date).format('HH:MM');
                post.level = 0;
                post.reply_level = 1;
                if(post.text.length > 140)
                    post.text_short = post.text.substring(0, 140) + '...';
                post.hidden = true;
                post.link = true;
                post.replies = post_groups[post._id] && post_groups[post._id].length > 0 ? post_groups[post._id].length : 0;
                render_post('main', post, 0);
            });

        });

        var createSecondaryPost = function(e){
            var $parent_post = $(e.target).closest('li');
            var $original_parent = $parent_post;
            var parent_level = $parent_post.data('level');
            var orig_parent_id = '';

            // check if this is a message on level 4, so that the comment will actually be added to its parent
            if(parent_level == 3) {
                orig_parent_id = $parent_post.data('id');
                $parent_post = $(e.target).closest('li').closest('ul').closest('li');
                parent_level = $parent_post.data('level');
            }
            var parent_id = $parent_post.data('id');

            var text = $('.reply-to-message-' + (orig_parent_id != "" ? orig_parent_id : parent_id) + ' .post-new-message-body-text textarea').val();
            var $file = $('.reply-to-message-' + parent_id +' .post-new-message-upload')[0];
            if(!text && !$file.value) {
                popupProvider.showOkPopup({message: "נא הזן טקסט או הוסף קובץ"});
            } else if(is_logged) {
                var data = {
                    parent_id: parent_id,
                    text: text,
                    creator_id: user._id,
                    subject_id: subject_id
                };
                db_functions.createForumPost(data, function(data){

                    data.time = new Date(data.creation_date).format('dd.mm.yyyy');
                    data.date = new Date(data.creation_date).format('HH:MM');
                    data.level = parent_level + 1;
                    data.reply_level = parent_level + 2;
                    if(data.text.length > 140)
                        data.text_short = data.text.substring(0, 140) + '...';
                    data.last = parent_level == 2 ? true : false;
                    data.replies = 0;


                    var $file = $original_parent.find('.post-new-message-upload')[0];
                    if(!$file.value)
                        return afterPost();
                    var file = $file.files && $file.files[0];

                    popupProvider.showLoading({message:'מעלה קובץ...'});

                    if(file)
                        uploadAttachment('forum', data._id,file,afterPost);
                    else
                        uploadAttachmentIE9( "/api/forum_post_attachments/" + data._id,$file,afterPost);


                    function afterPost(err,attachment){
                        if(err)
                            return console.error(err);
                        if(attachment){
                            data.attachment = attachment;
                            $original_parent.find('.post-new-message-upload').val('');
                            $original_parent.find('.post-new-message-attachment').hide();
                            $.colorbox.close();
                        }
                        data.user_avatar = avatar;
                        dust.render('forum_post', data, function(err, out){
                            if(!err){
                                $('ul.replies-' + parent_id).append(out);
                                $('.reply-to-message-' + (orig_parent_id != "" ? orig_parent_id : parent_id) + ' .post-new-message-body-text textarea').val("");
                                $('.reply-to-message-' + (orig_parent_id != "" ? orig_parent_id : parent_id) + ' .icon-close').click();

                                var $primary_message = $('ul.replies-' + parent_id).siblings('.primary-message');
                                if($primary_message.hasClass('message-closed')) {
                                    $primary_message.find('.icon-expand').click();
                                }
                                var $replies = $('.message-' + parent_id + ' .message-text .message-replies').first();
                                var reply_count = $replies.data('replies') + 1;
                                $replies.html(reply_count + ' תגובות');
                                $replies.data('replies', reply_count);
                                $primary_message.find('.message-reply').focus();
                            }
                        });
                    }
                });
            }
        };

        $last_messages.on('click', '.create_secondary_post', function(e){
            createSecondaryPost(e);
        });

        $last_messages.on('keypress', '.create_secondary_post', function(e){
            if(e.keyCode == 13){
                createSecondaryPost(e);
            }
        });

        var likePost = function(e){
            var post_id = $(e.target).closest('.row-table').data('id');
            db_functions.likePost(post_id, user._id, function(err, data){
                if(err) return;
                var $likes = $($('.row-table[data-id=' + data.post_id + '] .like-counter')[0]);
                var counter = parseInt($likes.html());
                counter += 1;
                $likes.html(counter);
                var $img = $likes.next('img');
                $img.removeClass('like').addClass('unlike');
                $img.attr('src', '/images/unlike.png');
            });
        };
        var unlikePost = function(e){
            var post_id = $(e.target).closest('.row-table').data('id');
            db_functions.likePost(post_id, user._id, function(err, data){
                if(err) return;
                var $likes = $($('.row-table[data-id=' + data.post_id + '] .like-counter')[0]);
                var counter = parseInt($likes.html());
                counter -= 1;
                $likes.html(counter);
                var $img = $likes.next('img');
                $img.removeClass('unlike').addClass('like');
                $img.attr('src', '/images/like.png');
            });
        };
        var likeQuestionPost = function(e){
            var post_id = $(e.target).closest('.row-table').data('id');
            db_functions.likePost(post_id, user._id, function(err, data){
                if(err) return;
                var $likes = $($('.row-table[data-id=' + data.post_id + '] .like-counter')[0]);
                var counter = parseInt($likes.html());
                counter += 1;
                $likes.html(counter);
                var $img = $likes.next('img');
                $img.removeClass('like').addClass('unlike');
                $img.attr('src', '/images/unlike.png');
            });
        };
        var unlikeQuestionPost = function(e){
            var post_id = $(e.target).closest('.row-table').data('id');
            db_functions.likePost(post_id, user._id, function(err, data){
                if(err) return;
                var $likes = $($('.row-table[data-id=' + data.post_id + '] .like-counter')[0]);
                var counter = parseInt($likes.html());
                counter -= 1;
                $likes.html(counter);
                var $img = $likes.next('img');
                $img.removeClass('unlike').addClass('like');
                $img.attr('src', '/images/like.png');
            });
        };

        $latest_posts.on('click', '.message-likes', function(e){
            var $target = $(e.target).closest('.message-likes').find('img');
            if($target.hasClass('like'))
                likePost(e);
            else
                unlikePost(e);
        });


        $questions_list.on('click', '.message-likes', function(e){
            var $target = $(e.target).closest('.message-likes').find('img');
            if($target.hasClass('like'))
                likeQuestionPost(e);
            else
                unlikeQuestionPost(e);
        });

        $latest_posts.on('keypress', '.message-likes', function(e){
            if(e.keyCode == 13) {
                var $target = $(e.target).closest('.message-likes').find('img');
                if($target.hasClass('like'))
                    likePost(e);
                else
                    unlikePost(e);
            }
        });

        $questions_list.on('keypress', '.message-likes', function(e){
            if(e.keyCode == 13) {
                var $target = $(e.target).closest('.message-likes').find('img');
                if($target.hasClass('like'))
                    likeQuestionPost(e);
                else
                    unlikeQuestionPost(e);
            }
        });

        $latest_posts.on('click', '.show_all_text', function(e){
            var text = $(e.target).closest('.message-content').data('text');
            $(e.target).closest('.message-content').html(text);
        });

        $latest_posts.on('keypress', '.show_all_text', function(e){
            if(e.keyCode == 13) {
                var text = $(e.target).closest('.message-content').data('text');
                $(e.target).closest('.message-content').html(text);
            }
        });

        function uploadAttachment( id, file,cbk){
            var client = new XMLHttpRequest();

            /* Create a FormData instance */
            var formData = new FormData();
            /* Add the file */
            formData.append("upload", file);
            client.open("put", "/api/forum_post_attachments/" + id, true);
            //client.setRequestHeader("Content-Type", "multipart/form-data");
            client.send(formData);  /* Send to server */

            /* Check the response status */
            client.onreadystatechange = function()
            {
                if (client.readyState == 4){
                    if(client.status < 200 || client.status >= 300)
                        return cbk(client.status);
                    var attachment = JSON.parse(client.responseText);
                    cbk(null,attachment);
                }
            }
        };

        $login_btn.on('click', function(e){
            login(e);
        });

        $login_btn.on('keypress', function(e){
            if(e.keyCode == 13){
                login(e);
            }
        });

        var login = function(e){
            e.preventDefault();
            var username = $(e.target).closest('form').find('#inputUsername').val(),
                password = $(e.target).closest('form').find('#inputPassword').val();
            db_functions.login(username, password, function (err, result) {
                if(err){
                    popupProvider.showOkPopup({message:'הפרטים שהוזנו אינם נכונים. נסה שנית או לחץ על "שכחתי סיסמא"'});
                }
                else{
                    window.location.href = "/";
                }
            });
        };

        $latest_posts.on('click', '.show_all_text', function (e) {
            e.preventDefault();
            e.stopPropagation();
            var text = $(e.target).closest('.message-content').data('text');
            $(e.target).closest('.message-content').html(text);
        });

        $latest_posts.on('keypress', '.show_all_text', function (e) {
            if(e.keyCode == 13){
                e.preventDefault();
                e.stopPropagation();
                var text = $(e.target).closest('.message-content').data('text');
                $(e.target).closest('.message-content').html(text);
            }
        });

        function createDiscussionsQuery() {
//             var sortby=  $('#sorting_select').find(':selected').data('sortby');
//             var query='order_by='+sortby;

            var query = '';

            query = query + '&subject_id=' + subject_id;
//             query = query+'&is_private='+false;
//             query = query+'&is_private__ne='+true;
            return query;
        }

        function loadDiscussionsListToPage() {
            var query = createDiscussionsQuery();
            listCommon.reloadList('discussions_list', 'discussions', 'discussion_list_item_new', query,function(){
                $('.deadline-counter').each(function(){
                    $(this).countdown();
                });
            });
        }

        loadDiscussionsListToPage();

//        initDiscussionEditing('#subjectShoppingCartPopup', subject_id, "<%=subject.name%>");
        $('#subjectShoppingCartPopup').click(function(){
            showShoppingCartPopup();
        });
        $('#subjectShoppingCartPopup').keypress(function(e){
            if(e.keyCode == 13)
                showShoppingCartPopup();
        });
        var showShoppingCartPopup = function() {
            dust.render('subject_shopping_cart',{
                id:subject_id,
                name:"<%=subject.name%>"
            },function(err,out){
                $.colorbox({
                    html:out,
                    width:'70%',
                    height:'70%',
                    onComplete:function(){
                        listCommon.reloadList('shoppingCartItemList','information_items','subject_shopping_cart_item',
                                {subjects:subject_id});
                    }
                });

            })
        };
        function uploadAttachment(type, id, file, cbk){
            var client = new XMLHttpRequest();

            /* Create a FormData instance */
            var formData = new FormData();
            /* Add the file */
            formData.append("upload", file);
            if(type == 'forum'){
                client.open("put", "/api/forum_post_attachments/" + id, true);
            } else {
                client.open("put", "/api/question_post_attachments/" + id, true);
            }
            //client.setRequestHeader("Content-Type", "multipart/form-data");
            client.send(formData);  /* Send to server */

            /* Check the response status */
            client.onreadystatechange = function()
            {
                if (client.readyState == 4){
                    if(client.status < 200 || client.status >= 300)
                        return cbk(client.status);
                    var attachment = JSON.parse(client.responseText);
                    cbk(null,attachment);
                }
            };
        };
        $container.on('click','.post-new-message-upload-button',function(){
			if(!SUPPORT_FILE_API)
				return;
            $(this).siblings('.post-new-message-upload').click();
        });
        $container.on('keypress','.post-new-message-upload-button',function(e){
            if(e.keyCode == 13){
                if(!SUPPORT_FILE_API)
                    return;
                $(this).siblings('.post-new-message-upload').click();
            }
        });
        $body.on('click', '.question .toggle_replies', function(e){
            $(e.target).closest('.question').find('ul.posts').toggleClass('hide');
        });

        $body.on('keypress', '.question .toggle_replies', function(e){
            if(e.keyCode == 13)
                $(e.target).closest('.question').find('ul.posts').toggleClass('hide');
        });

        $body.on('click', '.last-messages .toggle_replies', function(e){
            var id = $(e.target).closest('li').data('id');
            toggleMessage('message-' + id);
        });

        $body.on('keypress', '.last-messages .toggle_replies', function(e){
            if(e.keyCode == 13) {
                var id = $(e.target).closest('li').data('id');
                toggleMessage('message-' + id);
            }
        });

        $body.on('click', '.create_question_post', function(e){
            createQuestionPost(e);
        });

        $body.on('keypress', '.create_question_post', function(e){
            if(e.keyCode == 13)
                createQuestionPost(e);
        });

        $body.on('click', 'button.forum_link', function(e){
            var $target = $(e.target);
            if(!($target.hasClass('message-replies') || $target.hasClass('like')
                    || $target.hasClass('unlike') || $target.hasClass('message-reply-title')
                    || $target.hasClass('icon-expand') || $target.hasClass('icon-collapse')
                    || $target.hasClass('like-counter')
                    || $target.hasClass('message-ticker') || $target.hasClass('toggle_replies')
                    || $target.hasClass('message-likes') || $target.hasClass('message-reply')))
                window.location.href = $(e.target).closest('.forum_link').data('href');
        });

        $body.on('click', '.message-reply', function(e){
            var id = $(e.target).closest('li').data('id');
            replyTo('message-' + id);
        });


        var createQuestionPost = function(e){
            var question_id = $(e.target).closest('li.question').data('id');
            var text = $('.reply-to-message-' + question_id + ' .post-new-message-body-text textarea').val();
            var $file = $('.new_post .post-new-message-upload')[0];
            if(!text && !$file.value) {
                popupProvider.showOkPopup({message: "נא הזן טקסט או הוסף קובץ"});
            } else if(is_logged) {
                var data = {
                    text: text,
                    creator_id: user._id,
                    question_id: question_id
                };
                db_functions.createQuestionPost(data, function(data){
                    data.date = new Date(data.creation_date).format('dd.mm.yyyy');
                    data.time = new Date(data.creation_date).format('HH:MM');
                    if(data.text.length > 140)
                        data.text_short = data.text.substring(0, 140) + '...';
                    data.replies = 0;
                    var $file = $('.question.message-' + question_id).find('.post-new-message-upload')[0];
                    if(!$file.value)
                        return afterPost();

                    popupProvider.showLoading({message:'מעלה קובץ...'});

                    var file = $file.files && $file.files[0];
                    if(!file)
                        uploadAttachmentIE9('/api/question_post_attachments/' + data._id,$file,afterPost);
                    else
                        uploadAttachment('question', data._id,file,afterPost);


                    function afterPost(err,attachment){
                        if(err)
                            return console.error(err);
                        if(attachment){
                            data.attachment = attachment;
                            $.colorbox.close();
                        }
                        data.user = user;
                        dust.render('question_post', data, function(err, out){
                            if(!err){
                                $('ul.replies-' + question_id).prepend(out);
                                $('.reply-to-message-' + question_id + ' .post-new-message-body-actions .post-new-message-upload').val('');
                                $('.reply-to-message-' + question_id + ' .post-new-message-body-text textarea').val("");
                                $('.reply-to-message-' + question_id + ' .icon-close').click();

                                $('ul.posts.replies-' + question_id).removeClass('hide');


                                var $replies = $('.message-' + question_id + ' .message-replies');
                                var reply_count = $replies.data('replies') + 1;
                                $replies.html(reply_count + ' תגובות');
                                $replies.data('replies', reply_count);
                                $('.replies-' + question_id).css('display', 'block');
                            }
                        });
                    }
                });
            }
        }
    });


</script>
</body>
</html>