<!DOCTYPE html>
<html>
<head>
    <title>מעגלי שיח</title>
    <% include partials/head.ejs %>

</head>
<% if( user_logged ) { %>
<body class="home logged">
<% } else { %>
<body class="home not-logged">
<% } %>
<!-- Header -->
<header>
    <% include partials/menu.ejs %>
</header>
<!-- Content -->
<section class="content content-logged"
         style="background-image: url('<%=subject.cover_image_field && subject.cover_image_field.url%>'); background-size: 100% 230px; background-repeat: no-repeat; margin-bottom: 20px;">
    <div class="container" >
        <!-- Breadcrumbs -->
        <div id="breadcrumbs"><a href="/">מעגלי שיח</a> > <a href="/discussions/subject/<%=subject._id%>"></a><%=subject.name%>
        </div>
        <div class="row">
            <!-- Sidebar -->
            <% if(user_logged && subject.isAllowed){ %>
            <% include partials/sidebar.ejs %>
            <% } %>

            <!-- Post -->
            <div class="right content-container">
                <!-- Post Header -->
                <div class="row post-header">
                    <div class="right sidebox post-image">
                        <img src="<%=subject.image_field.url%>" style="width: 224px; height: 224px; position: static;"
                             class="align-me" alt="<%=subject.name%>" title="<%=subject.name%>"/>
                    </div>
                    <div class="left post-headerbox">
                        <h1 class="post-title"><%=subject.name%></h1>

                        <div class="row">
                            <a href="/">
                                <div class="right link-home">
                                    <div class="link-home-title"><i
                                            class="icon icon-small-pad-left icon-size2 icon-index-logged right"></i>לדף
                                        הבית
                                    </div>
                                </div>
                            </a>
                            <% if(user_logged && subject.isAllowed) { %>
                            <a href="<%=url%>/forum">
                                <div class="left link-to-forum">לפורום</div>
                            </a>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="row post-body">
                    <p><%-subject.description%></p>
                </div>
                <% if(user_logged && subject.isAllowed) { %>
                <% include partials/descussions_and_posts.ejs%>
                <% } %>
            </div>
            <!-- Zira Activity -->
            <div class="activity-box">
                <div class="row">
                    <i class="icon icon-medium-pad-left icon-clock right"></i>

                    <h2 class="activity-box-title right">פעילות במעגל השיח</h2>
                </div>
                <% if(subject.timeline_url) { %>
                    <div class="row sidebox activity-module">
                        <iframe src='/timeline_embed?source=<%= encodeURIComponent(subject.timeline_url) %>' width='100%' height='500' frameborder='0'></iframe>
                    </div>
                <% } %>
            </div>
    </div>
</section>
<!-- Footer -->

<% include partials/footer.ejs %>

<script type="text/javascript">
    $(document).ready(function () {
        var subject_id = '<%= subject._id %>';
        var is_allowed = '<%= subject.isAllowed %>';
        var is_logged = <%= user_logged %>;
        var user = <%- JSON.stringify(user || "") %>;

        if(is_logged && is_allowed){
            get_and_render.info_items(subject_id);
            get_and_render.links(subject_id);
        }

        var data = {
            subject_id: subject_id,
            limit: 3,
            sorts: {'creation_date': -1},
            offset: 0
        };

        db_functions.getQuestions({subject_id: subject_id}, function(err, data){
            $.each(data.objects, function(i, obj){
                obj.avatar = user.avatar.url;
                obj.date = new Date(obj.creation_date).format('dd.mm.yyyy');
                obj.time = new Date(obj.creation_date).format('HH:MM');
                obj.post_count = obj.posts.length;
                obj.deadline = new Date(obj.deadline) < new Date() ? null : obj.deadline;
                $.each(obj.posts, function(j, post){
                    post.date = new Date(post.creation_date).format('dd.mm.yyyy');
                    post.time = new Date(post.creation_date).format('HH:MM');
                });
            });
            dust.renderArray('question_list_item', data.objects, function(err, html){
                $('#questions_list').append(html);
                $('.deadline-counter').each(function(){
                    $(this).countdown();
                });
            });
        });

        db_functions.getLastForumPosts(data, function (err, data) {
            if (err) return;
            var posts = data.page_posts;
            $.each(posts, function (i, post) {
                post.date = new Date(post.creation_date).format('dd.mm.yyyy');
                post.time = new Date(post.creation_date).format('HH:MM');
                post.level = 0;
                post.reply_level = 1;
                post.closed = true;
                if (post.text.length > 140)
                    post.text_short = post.text.substring(0, 140) + '...';
                post.hidden = true;
                post.replies = data.post_groups[post._id] && data.post_groups[post._id].length > 0 ? data.post_groups[post._id].length : 0;
                dust.render('forum_post', post, function (err, out) {
                    if (err) return;
                    $('.latest_posts ul').append(out);
                })
            })
        });

        $('.login_form_btn').on('click', function (e) {
            e.preventDefault();
            var username = $(e.target).closest('form').find('#inputUsername').val(),
                password = $(e.target).closest('form').find('#inputPassword').val();
            db_functions.login(username, password, function (err, result) {
                if (err) {
                    return;
                }
                else {
                    window.location.href = window.location.href;
                }
            });
        });
        $('.latest_posts').on('click', '.show_all_text', function (e) {
            e.preventDefault();
            e.stopPropagation();
            var text = $(e.target).closest('.message-content').data('text');
            $(e.target).closest('.message-content').html(text);
        });
        function createDiscussionsQuery() {
//             var sortby=  $('#sorting_select').find(':selected').data('sortby');
//             var query='order_by='+sortby;

            var query = '';

            query = query + '&subject_id=' + subject_id;
//             query = query+'&is_private='+false;
//             query = query+'&is_private__ne='+true;
            return query;
        }

        function loadDiscussionsListToPage() {
            var query = createDiscussionsQuery();
            listCommon.reloadList('discussions_list', 'discussions', 'discussion_list_item_new', query,function(){
                $('.deadline-counter').each(function(){
                    $(this).countdown();
                });
            });
        }

        loadDiscussionsListToPage();

//        initDiscussionEditing('#subjectShoppingCartPopup', subject_id, "<%=subject.name%>");
        $('#subjectShoppingCartPopup').click(function(){
            dust.render('subject_shopping_cart',{
                id:subject_id,
                name:"<%=subject.name%>"
            },function(err,out){
                $.colorbox({
                    html:out,
                    width:'70%',
                    height:'70%',
                    onComplete:function(){
                        listCommon.reloadList('shoppingCartItemList','information_items','subject_shopping_cart_item',
                                {subjects:subject_id});
                    }
                });

            })
        });
        function uploadAttachment( id, file,cbk){
            var client = new XMLHttpRequest();

            /* Create a FormData instance */
            var formData = new FormData();
            /* Add the file */
            formData.append("upload", file);
            client.open("put", "/api/question_post_attachments/" + id, true);
            //client.setRequestHeader("Content-Type", "multipart/form-data");
            client.send(formData);  /* Send to server */

            /* Check the response status */
            client.onreadystatechange = function()
            {
                if (client.readyState == 4){
                    if(client.status < 200 || client.status >= 300)
                        return cbk(client.status);
                    var attachment = JSON.parse(client.responseText);
                    cbk(null,attachment);
                }
            };
        }
        $('.container').on('click','.post-new-message-upload-button',function(){
            $(this).siblings('.post-new-message-upload').click();
        });
        $('body').on('click', '.message-replies', function(e){
            $(e.target).closest('.question').find('ul.posts').toggleClass('hide');
        });

        $('body').on('click', '.create_question_post', function(e){
            var question_id = $(e.target).closest('li.question').data('id');
            var text = $('.reply-to-message-' + question_id + ' .post-new-message-body-text textarea').val();
            if(!text) {
                //show error message?
            } else if(is_logged) {
                var data = {
                    text: text,
                    creator_id: user._id,
                    question_id: question_id
                };
                db_functions.createQuestionPost(data, function(data){
                    data.date = new Date(data.creation_date).format('dd.mm.yyyy');
                    data.time = new Date(data.creation_date).format('HH:MM');
                    if(data.text.length > 140)
                        data.text_short = data.text.substring(0, 140) + '...';
                    data.replies = 0;
                    var file = $('.question.message-' + question_id).find('.post-new-message-upload')[0].files[0];
                    if(!file)
                        return afterPost();

                    popupProvider.showLoading({message:'מעלה קובץ...'});
                    uploadAttachment(data._id,file,afterPost);

                    function afterPost(err,attachment){
                        if(err)
                            return console.error(err);
                        if(attachment){
                            data.attachment = attachment;
                            $.colorbox.close();
                        }
                        data.user = user;
                        dust.render('question_post', data, function(err, out){
                            if(!err){
                                $('ul.replies-' + question_id).append(out);
                                $('.reply-to-message-' + question_id + ' .post-new-message-body-text textarea').val("");
                                $('.reply-to-message-' + question_id + ' .icon-close').click();

                                $('ul.posts.replies-' + question_id).removeClass('hide');


                                var $replies = $('.message-' + question_id + ' .message-replies');
                                var reply_count = $replies.data('replies') + 1;
                                $replies.html(reply_count + ' תגובות');
                                $replies.data('replies', reply_count);
                            }
                        });
                    }
                });
            }
        });
    });


</script>
</body>
</html>